# https://developers.kakao.com/console/app -- JavaScript key, used to
# initialize the Kakao Share SDK for the "카카오톡 공유하기" button.
# Also register this app's web platform domain in
# [App] > [Platform] > [Web] on the Kakao console, or Kakao.init() will
# succeed but Share.sendDefault() will be rejected.
VITE_KAKAO_JS_KEY=your_kakao_javascript_key_here
